<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load crispy_forms_tags %}
</head>
<body>
    <div class="container py-4">
        <h1>Inicia sesion en el sistema !</h1>
        <form action="" method="POST">
            {% csrf_token %} 
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Log in</button>
        </form>
    </div> 
</body>
</html>