{% extends "base.html" %}
{% block content %}
{%include 'navbar.html'%}
<h2> Listado de libros </h2>

<table class="table">
    <thead>
        <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Fecha Publicacion</th>
        <th><a href="">Nuevo libro</a></th>
        </tr>
    </thead>
    <tbody>
        {% for i in list_book %}
        <tr>
        <td>{{ i.titulo }}</td>
        <td>{{ i.autor }}</td>
        <td>{{ i.valoracion }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

  
 {% endblock %}