{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%include 'navbar.html'%}
    {% if auth %}
        <h2>Estas logeado !</h2>
        <h1>{{nombre | title}} {{apellido.upper}}</h1>
        <h3>Hora actual: {{fecha|time}}</h3>
        {% if lista %}
            {% for item in lista %}
            <p>{{ item|upper}}</p>
            {% endfor%}
        {% else %}
            <p>no contiene items</p>
        {% endif%}
    {% else %}
        <h2>No estas logeado !</h2>
    {% endif%}
    {%include 'footer.html'%}
    
</body>
</html>
{% endblock content %}